* {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Unicase', serif;
    font-size: 10px;
}
:root{
    --not-gray: #575279;
    --not-pink: #ebbcba;
    --not-white: #fffaf3;
    --not-black:#6e6a86;
    --dark-blue: #286983;
    --light-blue: #9ccfd8;
    --text:#575279;
    
    
}
.light{
    --bg-color: var(--not-white);
    --side-bg-color:var(--not-pink);
    --font-color: var(--text);
    --blue:var(--dark-blue);
}
.dark{
    --side-bg-color:var(--not-gray);
    --font-color:var(--not-white);
    --bg-color:var(--not-black);
    --blue:var(--light-blue);
}
.container {
    display: grid;
    grid-template-columns:250px 1fr;
    grid-template-rows:5rem 1fr 5rem;
    grid-template-areas:
        's h h'
        's m m'
        's  f f';
    grid-gap:0px;
    width:100vw;
    height:100vh;
}
li.headerl{
    display:inline;
}

.sizes{
    font-size:2rem;
}
header {
    grid-area: h;
    background-color:var(--bg-color);
    text-align: right;
    display: inline;
    color:var(--font-color);
}

.side {
    grid-area: s;
    background-color:var(--side-bg-color);
    color:var(--font-color);
}
.side2 {
    grid-area: s;
    background-color:var(--bg-color);
    color:var(--font-color);
}

main {
    grid-area: m;
    background-color:var(--bg-color);
    color:var(--font-color);
}


footer {
    grid-area: f;
    background-color:var(--bg-color);
    font-size: 20px;
    text-align: center;
    padding-top: 14px;
}

li {
    font-size: 3rem;
    color: var(--font-color);
    list-style-type: none;
    margin-right: 3rem;
}
.top{
    display: flex;
    flex-direction: row;    
}
.open {
    background-color:var(--bg-color);
    color:var(--font-color);
    font-size: 30px;
}


.close {
    font-size: 30px;
    text-align: right;
    background-color: var(--bg-color);
}
@media (max-width: 600px) {
    .side {
        grid-area: s;
        background-color:var(--bg-color);
        color:var(--font-color);
    }

    .side2 {
        grid-area: s;
        background-color:var(--bg-color);
        color:var(--font-color);
    }

    .main {
        grid-area: m;
        background-color:var(--bg-color);
    }

    .container {
        display: grid;
        grid-template-columns: 125px 1fr;
        grid-template-rows: 5rem 1fr 5rem;
        grid-template-areas: 's h' 's m' 's f';
        grid-gap: 0px;
        width: 100vw;
        height: 100vh;
    }

    footer {
        grid-area: f;
        background-color:var(--bg-color);
        font-size: 14px;
        text-align: center;
        padding-top: 14px;
    }

    li {
        font-size: 2rem;
        color: var(--font-color);
        list-style-type: none;
        margin-right: 3rem;
    }
}